In [5]:
import pandas as pd
input_addr=r"C:\Users\fei.yang4\Documents\work\safety_lab\input\step_data\LN20090065_022080602053_45degC_cycle01_UN182_CN04_20201103225804_CY100.xlsx"
data = pd.read_excel(input_addr,sheet_name="循环数据表")
df = pd.DataFrame(data)
new_data=df[['循环序号','充电容量(Ah)','放电容量(Ah)']]

In [6]:
new_data

    循环序号  充电容量(Ah)  放电容量(Ah)
0      1   101.952   104.715
1      2   100.487   100.345
2      3   100.518   100.359
3      4   100.518   100.402
4      5   100.549   100.445
..   ...       ...       ...
95    96   100.319   100.244
96    97   100.303   100.223
97    98   100.295   100.222
98    99   100.284   100.211
99   100   100.277   100.202

[100 rows x 3 columns]

In [15]:
new_data.loc[lambda new_data:new_data['循环序号']==99,:]

    循环序号  充电容量(Ah)  放电容量(Ah)
98    99   100.284   100.211

In [16]:
data1 = pd.read_excel(input_addr,sheet_name="工步数据表")
df1 = pd.DataFrame(data1)

In [17]:
df1

,工步序号,工步号,工步名称,工步时间(h:m:s.ms),容量(Ah),能量(Wh),起始电压(V),终止电压(V),单体结束电压1,单体结束温度1,...,绝对时间,单体起始电压1,单体起始温度1,单体起始温度2,起始电流(A),结束电流(A),恒流比(%),累计放电容量(Ah),累计充电能量(Wh),累计放电能量(Wh)
0,1,1,搁置,05:00:00,0.000,0.000,3.428608,3.428007,3.427013,45.8,...,2020-11-03 22:58:04,3.427381,45.1,44.2,0.000000,0.000000,0.00,0.000,0.000,0.000
1,2,2,恒流放电,00:08:26.905000,-4.439,-14.215,3.401132,2.799939,2.798886,46.4,...,2020-11-04 04:00:24,3.399702,45.9,46.0,-31.527880,-31.529774,0.00,4.439,0.000,14.215
2,3,3,搁置,00:30:00,0.000,0.000,2.905301,3.123007,3.121782,45.9,...,2020-11-04 04:08:52,2.904778,46.4,46.7,0.000000,0.000000,0.00,4.439,0.000,14.215
3,4,4,恒流恒压充电,02:19:11.168000,101.952,391.379,3.169891,4.300445,4.299799,46.5,...,2020-11-04 04:38:53,3.169132,45.9,46.2,47.305460,4.729759,95.37,4.439,391.379,14.215
4,5,5,搁置,00:10:00,0.000,0.000,4.297006,4.288078,4.287727,46.3,...,2020-11-04 06:58:05,4.296337,46.5,47.1,0.000000,0.000000,0.00,4.439,391.379,14.215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,497,7,搁置,00:30:00,0.000,0.000,2.924006,3.079007,3.078238,46.6,...,2020-11-21 00:31:56,2.923206,49.7,51.2,0.000000,0.000000,0.00,9958.363,38259.995,36349.796
399,499,4,恒流恒压充电,02:16:49.205000,100.277,385.098,3.118620,4.300485,4.299701,46.4,...,2020-11-21 01:01:57,3.117745,46.6,47.7,47.294132,4.729910,95.39,9958.363,38645.093,36349.796
400,500,5,搁置,00:10:00,0.000,0.000,4.297006,4.289022,4.288423,46.2,...,2020-11-21 03:18:47,4.296316,46.4,46.9,0.000000,0.000000,0.00,9958.363,38645.093,36349.796
401,501,6,恒流放电,01:03:33.082000,-100.202,-365.810,4.224572,2.799993,2.798513,49.7,...,2020-11-21 03:28:48,4.223588,46.2,46.7,-94.590000,-94.597277,0.00,10058.565,38645.093,36715.606
402,502,7,搁置,00:30:00,0.000,0.000,2.924006,3.079007,3.078253,46.8,...,2020-11-21 04:32:22,2.923388,49.8,51.3,0.000000,0.000000,0.00,10058.565,38645.093,36715.606

In [20]:
cycle_data = df1.loc[:,['循环号','绝对时间']]

In [21]:
cycle_data

     循环号                绝对时间
0      1 2020-11-03 22:58:04
1      1 2020-11-04 04:00:24
2      1 2020-11-04 04:08:52
3      1 2020-11-04 04:38:53
4      1 2020-11-04 06:58:05
..   ...                 ...
398   99 2020-11-21 00:31:56
399  100 2020-11-21 01:01:57
400  100 2020-11-21 03:18:47
401  100 2020-11-21 03:28:48
402  100 2020-11-21 04:32:22

[403 rows x 2 columns]

In [64]:
g_cycle_data = cycle_data.groupby('循环号').first()

In [61]:
for temp1,temp2 in g_cycle_data:
  
#     print(temp1)
#     print(temp2)
    temp2 = temp2['绝对时间'].tolist()
    print(temp2[0])

2020-11-03 22:58:04
2020-11-04 08:41:45
2020-11-04 12:42:36
2020-11-04 16:43:28
2020-11-04 20:44:17
2020-11-05 00:45:06
2020-11-05 04:45:59
2020-11-05 08:46:53
2020-11-05 12:47:49
2020-11-05 16:48:46
2020-11-05 20:49:45
2020-11-06 00:50:45
2020-11-06 04:51:45
2020-11-06 08:52:48
2020-11-06 12:53:51
2020-11-06 23:40:33
2020-11-07 03:41:32
2020-11-07 07:42:37
2020-11-07 11:43:42
2020-11-07 15:44:47
2020-11-07 19:45:57
2020-11-07 23:47:06
2020-11-08 03:48:16
2020-11-08 07:49:27
2020-11-08 11:50:39
2020-11-08 15:51:51
2020-11-08 19:53:05
2020-11-08 23:54:18
2020-11-09 03:55:32
2020-11-09 07:56:46
2020-11-09 11:58:00
2020-11-09 15:59:12
2020-11-09 20:00:23
2020-11-10 00:01:52
2020-11-10 04:03:05
2020-11-10 08:04:20
2020-11-10 12:05:34
2020-11-10 16:06:47
2020-11-10 20:08:01
2020-11-11 00:09:14
2020-11-11 04:10:27
2020-11-11 08:11:40
2020-11-11 12:12:53
2020-11-11 16:14:04
2020-11-11 20:15:15
2020-11-12 00:16:26
2020-11-12 04:17:37
2020-11-12 08:18:46
2020-11-12 12:19:54
2020-11-12 16:21:03
2020-11-12 20:22:10
2020-11-13 00:23:16
2020-11-13 04:24:22
2020-11-13 08:25:28
2020-11-13 12:26:34
2020-11-13 16:27:38
2020-11-13 20:28:42
2020-11-14 00:29:45
2020-11-14 04:30:46
2020-11-14 08:31:49
2020-11-14 12:32:50
2020-11-14 16:33:50
2020-11-14 20:34:49
2020-11-15 00:35:48
2020-11-15 04:36:47
2020-11-15 08:37:44
2020-11-15 12:38:41
2020-11-15 16:39:37
2020-11-15 20:40:33
2020-11-16 00:41:27
2020-11-16 04:42:20
2020-11-16 08:43:14
2020-11-16 12:44:06
2020-11-16 16:44:58
2020-11-16 20:45:48
2020-11-17 00:46:37
2020-11-17 04:47:26
2020-11-17 08:48:14
2020-11-17 12:49:02
2020-11-17 16:49:47
2020-11-17 20:50:42
2020-11-18 00:51:28
2020-11-18 04:52:11
2020-11-18 08:52:54
2020-11-18 12:53:35
2020-11-18 16:54:16
2020-11-18 20:54:55
2020-11-19 00:55:32
2020-11-19 04:56:09
2020-11-19 08:56:46
2020-11-19 12:57:21
2020-11-19 16:57:51
2020-11-19 20:58:24
2020-11-20 00:58:56
2020-11-20 04:59:28
2020-11-20 08:59:59
2020-11-20 13:00:29
2020-11-20 17:01:01
2020-11-20 21:01:29
2020-11-21 01:01:57

In [102]:
g_cycle_data.loc[2]

绝对时间   2020-11-04 08:41:45
Name: 2, dtype: datetime64[ns]

In [98]:
g_cycle_data

                   绝对时间
循环号
1   2020-11-03 22:58:04
2   2020-11-04 08:41:45
3   2020-11-04 12:42:36
4   2020-11-04 16:43:28
5   2020-11-04 20:44:17
..                  ...
96  2020-11-20 08:59:59
97  2020-11-20 13:00:29
98  2020-11-20 17:01:01
99  2020-11-20 21:01:29
100 2020-11-21 01:01:57

[100 rows x 1 columns]

In [103]:
len(g_cycle_data)

100

In [104]:
new_data.loc[lambda new_data:new_data['循环序号']==5,:]

   循环序号  充电容量(Ah)  放电容量(Ah)
4     5   100.549   100.445